*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: url(bg.png) #344E85;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

.logo {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -200px;
}

.logo img {
  width: 400px;
}

@media (max-width: 768px) {
  .logo {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -150px;
  }

  .logo img {
    width: 300px;
  }
}
